/************************************************************ GLOBAL ************************************************************/
:root {
  --Main-Theme: #6c757d;
  --Sub-Theme : #f8f9fa;
}

h1, h2 { text-align: center; }

/************************************************************ HEADER ************************************************************/
.My-Navigate-Bar {
  width: 100%;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Sub-Theme);
}

#Logo-Brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/****************************************************** TOPIC SELECTIONS ********************************************************/
#Box-Topic-Selections {
  max-width: 1150px;
  padding: 10px;
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
  gap: 0 20px;
  border: 1px solid black;
}

/*********************************************************** CONTENTS ***********************************************************/
.Box-Contents {
  max-width: 1150px;
  padding: 10px;
  margin: 20px auto;
  display: none;
  border: 1px solid black;
}

.Sub-Topics { margin: 20px 0; }

/******************************************************* HTML REFERENCES ********************************************************/
#HTML-References-Input {
  background-image: url(https://www.w3schools.com/css/searchicon.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#HTML-References-List {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#HTML-References-List li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#HTML-References-List li a:hover:not(.header) { background-color: #eee; }

/*************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { background-color: var(--Main-Theme); }
td, th { border: 1px solid black; padding: 8px; }
a { color: inherit; text-decoration: none; }
a:hover { color: darksalmon; }
.Highlighted:hover { border: 1px solid black; }
.Indent-Level1 { text-indent: 0; }
.Indent-Level2 { text-indent: 10px; }
.Indent-Level3 { text-indent: 20px; }
.Indent-Level4 { text-indent: 30px; }
.Indent-Level5 { text-indent: 40px; }
.Appear { display: none; }

.Box-Structures {
  max-width: 270px;
  margin: 10px auto;
  border: 1px solid black;
}

/* ELEMENTS */
.Box-Elements { display: none; }

/* ATTRIBUTES */
.Box-Attributes { margin: 20px 0; }

/* VALUES */
.Box-Values { margin: 20px 0; }

/* DEFAULT CSS */
.Box-CSS { margin: 20px 0; }

/* INSIGHTS */
.Box-Insights { margin: 20px 0; }
.Item-Insights { margin: 0 0 20px; }
.Highlight-Insights { border: 1px solid black; }