/* FIXED CSS STYLING */
body { background-color: lightgrey; }
table, th, td { border: 1px solid black; }
.Parent-Box { height: 400px;
              width: 500px;
              border: 1px solid black;
            }
.Level2 { padding-left: 94px; }
.Level3 { padding-left: 110px; }

.standard { width: auto; height: auto;
            border: 1px solid black;
          }