/* STYLING TABLES */
table, th, td { border: 1px solid black; }

/* STYLING LINES OF CODES */
.Level2 { padding-left: 94px; }
.Level3 { padding-left: 110px; }

body { background-color: lightgrey; }

.standard { width: auto; height: auto; 
            border: 1px solid black;
          }