/************************************************************ GLOBAL ************************************************************/
:root {
  --Main-Theme: #6c757d;
  --Sub-Theme : #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { background-color: var(--Main-Theme); }
h1, h2 { text-align: center; }
a { color: inherit; text-decoration: none; }
a:hover { color: darksalmon; }

/************************************************************ HEADER ************************************************************/
.My-Navigate-Bar {
  width: 100%;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Sub-Theme);
}

#Logo-Brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/****************************************************** TOPIC SELECTIONS ********************************************************/
#Box-Topic-Selections {
  max-width: 1150px;
  padding: 10px;
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
  gap: 0 20px;
  border: 1px solid black;
}

/*********************************************************** CONTENTS ***********************************************************/
.Box-Contents {
  max-width: 1150px;
  padding: 10px;
  margin: 20px auto;
  display: none;
  border: 1px solid black;
}

.Box-Structures {
  max-width: 550px;
  margin: 10px auto;
  border: 1px solid black;
}

.Indent-Level1 { text-indent: 0; }
.Indent-Level2 { text-indent: 10px; }
.Indent-Level3 { text-indent: 20px; }
.Indent-Level4 { text-indent: 30px; }
.Indent-Level5 { text-indent: 40px; }

.Highlighted:hover { border: 1px solid black; }
.Sub-Topics { margin: 20px 0; }
.Box-Elements { display: none; }
.Box-Attributes { margin: 20px 0; }
.Box-CSS { margin: 20px 0; }
td, th { border: 1px solid black; padding: 8px; }

.Box-Insights { margin: 20px 0; }
.Item-Insights { margin: 0 0 20px; }
.Highlight-Insights { border: 1px solid black; }

/******************************************************** HTML ELEMENTS *********************************************************/
#HTML-Elements, #HTML-Attributes {
  height: 83vh;
  overflow: auto;
}

#HTML-Elements-Input, #HTML-Attributes-Input {
  background-image: url(https://www.w3schools.com/css/searchicon.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#HTML-Elements-List, #HTML-Attributes-List {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#HTML-Elements-List li a, #HTML-Attributes-List li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#HTML-Elements-List li a:hover:not(.header), #HTML-Attributes-List li a:hover:not(.header) { background-color: #eee; }

#HTML-Elements-List code, #HTML-Attributes-List code {
  display: inline-block;
  width: 20%;
}

#HTML-Elements-List span, #HTML-Attributes-List span {
  display: inline-block;
  width: 79%;
}