/************************************************************ GLOBAL ************************************************************/
:root {
  --Main-Theme: #6c757d;
  --Sub-Theme : #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { background-color: var(--Main-Theme); }
h1, h2 { text-align: center; }
a { color: inherit; text-decoration: none; }
a:hover { color: darksalmon; }

/************************************************************ HEADER ************************************************************/
.My-Navigate-Bar {
  width: 100%;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Sub-Theme);
}

#Logo-Brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/****************************************************** TOPIC SELECTIONS ********************************************************/
#Box-Topic-Selections {
  max-width: 1150px;
  padding: 10px;
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
  gap: 0 20px;
  border: 1px solid black;
}

#CSS-Properties {
  height: 83vh;
  overflow: auto;
}

#CSS-Properties-Input {
  background-image: url(https://www.w3schools.com/css/searchicon.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#CSS-Properties-List {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#CSS-Properties-List li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#CSS-Properties-List li a:hover:not(.header) { background-color: #eee; }

#CSS-Properties-List code {
  display: inline-block;
  width: 23%;
}

#CSS-Properties-List span {
  display: inline-block;
  width: 76%;
}

/*********************************************************** CONTENTS ***********************************************************/
.Box-Contents {
  max-width: 1150px;
  padding: 10px;
  margin: 20px auto;
  display: none;
  border: 1px solid black;
}










/* SUB BOX CONTENTS */
.Sub-Topics { margin: 20px 0; }
.Box-Property {
  width: auto;
  height: auto;
  margin: 20px 0;
}

/* SAMPLE BOX */
.Box-Model {
  width: 150px;
  height: 100px;
  padding: 38px 0px 0px 6px;
  margin: 10px auto;
  border: 1px solid black;
  position: sticky;
  top: 80px;
  background-color: var(--Main-Theme);
}

/* SAMPLE ADDED BOX */
.Added-Box-Model {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

/* RELATED VALUES */
.Value-Box:hover { border: 1px solid black; }
.Box-Value { margin: 10px 0; }
#Box-Calculation { margin: 10px 0; }
#Box-Initial { margin: 10px 0; }
#Box-Inherit { margin: 10px 0; }
#Box-Unset { margin: 10px 0; }
#Box-Variable { margin: 10px 0; }
#Box-Absolute-Length-Units { margin: 10px 0; }
#Box-Relative-Length-Units { margin: 10px 0; }

/* INSIGHTS */
.Item-Insights { margin: 10px 0; }

.Highlighted:hover { border: 1px solid black; }