h3 { text-align: center; }

#displayChallenge {
  max-width: 1150px;
  padding: 10px;
  margin: 20px auto;
  display: none;
  border: 1px solid black;
}

.Indent-Level1 { text-indent: 20px; }
.Indent-Level2 { text-indent: 40px; }