/**********/
/* GLOBAL */
/**********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**********/
/* HEADER */
/**********/
.My-Navigate-Bar {
  width: 100%;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#Logo-Brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div { text-align: center; }

#Wrapper {
  margin: 40px 20px 20px;
  flex-wrap: wrap;
}